<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_manage_office_system_management"
        name="UPS"
        sequence="10"/>

    <menuitem
        id="menu_system_management"
        name="Order"
        parent="menu_manage_office_system_management"/>

    <menuitem
        id="menu_sales_quotation"
        name="Quotation"
        parent="menu_system_management"
        action="action_sales_quotation"/>

    <menuitem 
        id="menu_invoice"
        name="Invoice"
        parent="menu_system_management"
        action="action_invoice"/>

</odoo>
